*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

body{
    background-image: url("../assets/coolbg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header{
    height: 4rem;
    font-size: 4vw;
    font-weight: bolder;
    padding-left: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.mainContent{
    display: flex;

}

.leftContentDiv{
    height: 100vh;
    width:20vw;
    background-color: #FFB74D;
    border: 2px solid black;  
}
.optionsDiv{
    height: 40vh;
    border-bottom: 1px solid black;
    background-color: #FFB74D;      
    display: flex;
    flex-direction: column;
}

.optionsDivBtn{
    margin: 1vh;
    padding: 1.5vh;
    background-color: #FFB74D;
    border: none;
    font-weight: bold;
}

.optionsDivBtn:hover{
    background-color: white;
    border-radius: 20%;
}

.rightContentDiv{
    margin-left: 2vw;
    border: 2px solid black;
    height: 100vh;
    width: 78vw;
    background-color: #FFB74D;
}